[submodule "BasicGE/vender/GLFW"]
	path = BasicGE/vender/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "BasicGE/vender/imgui"]
	path = BasicGE/vender/imgui
	url = https://github.com/TheCherno/imgui
[submodule "BasicGE/vender/glm"]
	path = BasicGE/vender/glm
	url = https://github.com/g-truc/glm
